html {
    display: -moz-box;
    -moz-box-orient: vertical;
    background-color: #000000;
    color: #ffffff;
    font: 10px "Lucida Grande", "Segoe UI", Tahoma;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: -moz-box;
    -moz-box-orient: vertical;
    width: 100%;
    height: 100%;
    margin: 0;
}

#canvas-container {
    display: -moz-box;
    -moz-box-flex: 1;
}

#canvas {
}

#toolbar {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-flex: 0;
    border-top: 1px solid #404040;
}

#window-selector {
    -moz-box-flex: 1;
    background-color: #000000;
    color: #ffffff;
    border: none;
}

.fps-display {
    padding: 2px 6px 0;
    -moz-user-select: none;
    cursor: default;
}

#resizer-container {
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
}

#resizer {
    -moz-appearance: resizer;
    -moz-box-flex: 0;
}

