html {
    display: -moz-box;
    -moz-box-orient: vertical;
    background-color: #000000;
    color: #ffffff;
    font: 10px "Lucida Grande", "Segoe UI", Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -moz-user-select: -moz-none;
    cursor: default;
}

html,
.button,
#profiling-disclosure,
#profiling-threshold {
    font: 10px "Lucida Grande", "Segoe UI", Tahoma, sans-serif;
}

body {
    display: -moz-box;
    -moz-box-orient: vertical;
    width: 100%;
    height: 100%;
    margin: 0;
}

#canvas-container {
    position: relative;
    display: block;
    -moz-box-flex: 1;
}

#overlay-canvas,
#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#bottom-toolbar,
#profiling-header {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-flex: 0;
    border-top: 1px solid #404040;
}

#window-selector {
    background-color: #000000;
    color: #ffffff;
    border: none;
    width: 100%;
}

#fps-display-area {
    display: block;
    padding: 2px 0;
    -moz-box-flex: 1;
}

.fps-display {
    padding: 0 6px;
    white-space: nowrap;
}

.button,
#profiling-disclosure {
    background: none;
    border: none;
    padding: 0;
    color: #ffffff;
}

.button {
    margin: auto 3px;
}

.button > .button-image,
#profiling-disclosure > .button-image {
    opacity: 0.7;
}

.button:hover > .button-image,
#profiling-disclosure:hover > .button-image,
#profiling-disclosure:active > .button-image {
    opacity: 1.0;
}

#profiling-group {
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-flex: 0;
    margin: 6px 0 0 12px;
    -moz-transition-property: all;
    -moz-transition-duration: 300ms;
    opacity: 1.0;
}

#profiling-group.hidden {
    position: absolute;
    bottom: 0;
    opacity: 0.0;
    z-index: -1;
    margin: 6px 0 0 12px;
}

.disabled {
    color: GrayText;
}

#profiling-threshold {
    margin: 0;
    padding: 0;
    -moz-user-select: text;
}

.button:active {
    background-color: white;
}

.label {
    padding: 1px 3px;
}

